.navbar-brand {
  background-color: yellow;
  color: black;
  font-weight: 900;
  font-style: oblique;
  font-variant: small-caps;
  text-align: center;
}






#container {
  text-align: center;
  margin-top: 100px;
}

button {
  margin-bottom: 15px;
  font-variant: small-caps;
  width: 50%;
  height: auto;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.4;
}



body {
  background-color: black;
}

.close {
  width: 15%;
}




